extends layout

block content

  h1= title
  br
  div(class='div-link')
    a(href='father')
      |Rolan Peralta
  div(class='div-link')
    a(href='mother')
      |Lea Magbanua
  div(class='div-link')
    a(href='brother')
      |Sean Paul Magbanua
  div(class='div-link')
    a(href='sister')
      |Alexandra Peralta
  div(class='div-link')
    a(href='me')
      |Walte Magbanua
  